* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table {
  border-spacing: 0;
}
th {
  border: 1px solid white;
  padding: 5px;
  width: 80px;
  min-width: 80px;
  text-align: center;
}
td {
  border: 1px solid white;
  padding: 5px;
  width: 80px;
  text-align: center;
  min-width: 80px;
}

.sticky {
  position: sticky;
}
